# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Other Files
.vs/slnx.sqlite
.vs/ProjectSettings.json
.vs/VSWorkspaceState.json
build
data
.vs/CurvatureImager/v16/.suo
image.txt
.vs/CurvatureImager/v16/Browse.VC.db
.vs/CurvatureImager/v16/ipch/AutoPCH/52865fc593ba0660/MAIN.ipch
